

.order-container {
    font-family: 'Arial', sans-serif;
    /*background-color: #f8f9fa; !* Светлый пастельный фон *!*/
    /*color: #333; !* Темный цвет текста для контраста *!*/
    background-color: var(--tg-bg-color);
    color: var(--tg-text-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.order-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-back-button {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.order-title {
    font-size: 1.5em;
    margin: 0;
}

.order-content {
    display: flex;
    align-items: flex-start; /* Поднимаем элементы к верху */
    gap: 20px;
}

.order-image {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.order-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.order-category {
    display: flex;
    align-items: center; /* Для вертикального выравнивания */
    gap: 10px;
    font-size: 16px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Уменьшен отступ */
    margin-top: 10px;
}


.quantity-value {
    font-size: 1.5rem; /* Размер шрифта значения */
}


.order-summary {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--tg-text-color);
    font-weight: bold;
}

/* Стили для формы заказа */
.order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--tg-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-top: 20px;
    margin: 0 auto;
}

.order-form h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: var(--tg-text-color);
}

.order-form label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--tg-text-color);
}

.order-input, .order-select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--tg-border-color);
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    outline: none;
    box-sizing: border-box;
    color: var(--tg-text-color);
}

.order-input:focus, .order-select:focus {
    border-color: #007bff;
}

.order-select {
    cursor: pointer;
}

.pickup-address {
    font-size: 14px;
    font-weight: bold;
    color: #28a745;
    text-align: center;
    margin-top: 10px;
}

.add-order-header {
    margin-top: 20px;
    text-align: center;
    color: var(--tg-text-color);
}

.order-buttons {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-buttons button {
    width: 30%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #4caf50;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
    background: var(--tg-bg-color);
}

.order-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.order-item-image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.order-item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order-item-info p {
    margin: 5px 0; /* Уменьшаем вертикальный отступ */
    font-size: 14px; /* Уменьшаем размер шрифта, если нужно */
}

.order-item-info h3 {
    margin-bottom: 8px; /* Уменьшаем отступ между заголовком и текстом */
}

.order-item-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #4caf50;
    color: #fff;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.form-label {
    color: var(--tg-text-color); /* Измени цвет на нужный */
    font-weight: bold;
}




