
.quantity-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}